* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: 20px;
  margin: 20px 0;
  color: black;
  display: inline-block;
  font-size: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav-bar h1 {
  display: inline-block;
  font-size: 2rem;
}

.icon {
  padding: 10px;
}

.list {
  padding: 20px;
  color: black;
  width: 97%;
  background-color: rgba(100, 200, 200, 0.8);
  height: 100%;
  margin: 20px auto;
}

.list h2 {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}

.list div {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.list input,
.list select {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px 10px;
  margin: 10px 0;
}

.choose {
  width: 90%;
  padding: 20px;
  font-size: 18px;
}

.quality {
  margin-top: 30px;
}
